<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>            
            <th>OrderDate</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>             
                {{ order.OrderDate }}
            </td>
            <td>{{ order.Quantity }}</td>
            <td>{{ order.Price }}</td>
            <td>{{ order.Details }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>