<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <router-outlet></router-outlet>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>            
            <th>OrderDate</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>             
                {{ order.orderDate }}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.details }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>